body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container{
  max-width: 400px;
}

.icon{
  position: relative;
  top: -15px;
  border-radius: 50%;
  margin-bottom: -40px;
  background-color: #f5f5f5;
}

.card{
  border-radius: 175px;
}

.time{
  margin-bottom: -40px;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
}

.details{
  line-height: 0em;
  margin-top: 20px;
}